
calculatorbutton {
    background: #6C7A90;
    border-radius: 2;
    width: 40;
    height: 40;
}

calculatorbutton:active {
    background: #8cafd1;
}

container {
    background: transparent;
    padding: 2;
}

textbox {
    width: 172;
}